<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__LAY__/css/layui.css">
    <script src="__PUBLIC__/static/jquery-1.10.2.min.js"></script>
    <script src="__LAY__/layui.js"></script>
    <style>
        .layui-form-mid{
            padding:0 !important;
            width: 45%;
        }
        .color-red{
            color:red;

        }
    </style>
</head>
<form class="layui-form" action="" id="cusInfo" method="post">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>户主信息</legend>
    </fieldset>
    <div class="layui-form-item" style="margin-left:20px">
        {if condition="$manager neq null"}
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux">
                客户经理: {if isset($manager.u_name)}{$manager.u_name}{/if}
                - {if isset($manager.u_phone)}{$manager.u_phone}{/if}
                - {if isset($manager.u_job)}{$manager.u_job}{/if}
            </div>
        </div>
        {/if}
        {if condition="$master neq null"}
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux">户主姓名: {if isset($master.hm_name)}{$master.hm_name}{/if}</div>
            <div class="layui-form-mid layui-word-aux">联系电话: {if isset($master.hm_phone)}{$master.hm_phone}{/if}</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux">身份证号: {if isset($master.hm_idcard)}{$master.hm_idcard}{/if}</div>
            <div class="layui-form-mid layui-word-aux">银行卡号: {if isset($master.hm_bank_card)}{$master.hm_bank_card}{/if}</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux">现居地址: {if isset($master.hm_address)}{$master.hm_address}{/if}</div>
            <div class="layui-form-mid layui-word-aux">备注信息：{if isset($master.hm_remarks)}{$master.hm_remarks}{/if}</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux">录入人: {if isset($master.hm_admin)}{$master.hm_admin}{/if}</div>
            <div class="layui-form-mid layui-word-aux">录入时间：{if isset($master.hm_addtime)}{$master.hm_addtime}{/if}</div>
        </div>
        {else/}
        暂无数据！
        {/if}
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>回款信息</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        总装修款：
        {if condition="$payMoney neq null"}
            <span class="color-red"><b>{$payMoney.hp_money}</b></span>
            元，已回款：
            <span class="color-red"><b>{$payMoney.hp_paid}</b></span>
            元。未回款：
            <span class="color-red"><b>{$payMoney.hp_will_pay}</b></span>
            元，回款比率:
            <span class="color-red"><b>{$payMoney.hp_paid_ratio}</b></span>。
        {else/}
        {/if}
    </blockquote>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col width="200">
                    <col width="100">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>回款金额（元）</th>
                    <th>回款时间</th>
                    <th>备注信息</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="payLog" id="log"}
                <tr>
                    <td>{$log.hpl_money}</td>
                    <td>{$log.hpl_addtime}</td>
                    <td>{$log.hpl_tips}</td>
                    <td>{$log.hpl_user}</td>
                    <td><span class="layui-btn layui-btn-xs" onclick="showPay({$log.hpl_id})"><i class="layui-icon">&#xe705;</i>详情</span></td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
</form>
</html>
<script>
    function showPay(hpl_id) {
        layui.use(['layer'], function(){
            var layer = layui.layer;
        layer.open({
            type: 2,
            title: '回款详情',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['866px', '600px'],
            content: "<?=url('house/showdetail')?>?hpl_id="+hpl_id
        });
        })
    }
</script>