{include file="index/header" /}
<style>
    .fr{
        float: right;
    }
    .layui-form-item .layui-input-inline{
        width: 130px;
    }
    .layui-form-item{
        margin-bottom: 0;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>员工管理</a>
        <a href="<?=url('admin/role')?>">角色列表</a>
        <a><cite>编辑角色</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('admin/role')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form" id="addRoles" method="post">
            <div class="layui-form-item" style="margin-bottom: 15px;">
                <label class="layui-form-label"><span style="color: red;">*</span>角色名称</label>
                <div class="layui-input-block">
                    <input type="text" name="r_name" value="{$roleInfo.r_name}" id="r_name" lay-verify="required|title" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            {volist name="menuList" id="menu"}
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">系统 >{$menu.m_name}</h2>
                    <div class="layui-colla-content">
                        {volist name="menu.child" id="child"}
                        <div class="layui-form-item">
                            <div class="layui-form-label">{$child.m_name}：</div>
                            {volist name="child.children" id="children"}
                            <div class="layui-input-inline">
                                <input lay-skin="primary" class="layui-input xuan checks" type="checkbox" title="{$children.m_name}"
                                    {volist name='m_ids' id='item'}
                                        {if condition="$item eq $children.m_id"}checked{/if}
                                    {/volist}
                                    value="{$child.m_fid},{$children.m_fid},{$children.m_id}" >
                            </div>
                            {/volist}
                            <div class="fr qx">
                                <input type="checkbox" lay-filter="qunaxuan" class="checks"
                                   {volist name='m_ids' id='it'}
                                        {if condition="$it eq $child.m_id"}checked{/if}
                                   {/volist}
                                   value="{$child.m_fid},{$child.m_id}" name="" title="全选" lay-skin="primary">
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
            </div>
            {/volist}
            <div class="layui-form-item" style="margin-top: 15px;">
                <div class="layui-input-block">
                    <span class="layui-btn" lay-filter="saveInfo" id="saveInfo">修改</span>
                    <a class="layui-btn layui-btn-primary" href="<?=url('admin/role')?>">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','element'], function(){
        var form = layui.form
            ,$ = layui.jquery;
        //选中某一模块，模块下面的菜单和方法都选中
        // 全选
        form.on('checkbox(qunaxuan)', function (data) {
            var _this = $(data.elem);
            var child = $(data.elem).parents('.qx').siblings('.layui-input-inline').children('input')
            child.each(function (index,item) {
                item.checked = data.elem.checked;

            })
            form.render('checkbox')
        })
        form.on('submit(saveInfo)', function(data){


        });
    });
    $('#saveInfo').click(function () {
        //1.获取选中的id；
        var ids = "";
        var icheck=document.getElementsByClassName('checks');
        for(var i=0;i<icheck.length;i++){
            if(icheck.item(i).checked){
                ids+=icheck.item(i).value;
                ids+=",";
            }
        }
        var r_name=$('#r_name').val();
        var r_id={$roleInfo.r_id};
        $.ajax({
            type:"post",
            url: "<?=url('admin/editmenuids')?>",
            data:{'ids':ids,'r_name':r_name,'r_id':r_id},
            success:function (result) {
                console.log(result);
                if(result.code == '1'){
                    layer.alert('修改角色成功！', {
                        icon: 1,
                        skin: 'layer-ext-moon',
                        time: 2000,
                        end: function(){
                            window.location.href='<?=url("admin/role")?>';
                        }
                    });
                }else{
                    layer.alert('修改角色成功！', {
                        icon: 2,
                        skin: 'layer-ext-moon',
                        time: 2000,
                        end: function(){
                            window.location.href='<?=url("admin/editrole")?>?r_id='+r_id;
                        }
                    });
                }
            },
            'error':function (error) {
                console.log(error);
            }
        })
    });
</script>
{include file="index/footer" /}