{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>系统设置</a>
        <a href="<?=url('admin/menu')?>">模块配置</a>
        <a><cite>修改菜单</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('admin/menu')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('admin/editmenu')?>?m_id={$menu.m_id}&m_fid={$finfo.m_id}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>菜单名称</label>
                <div class="layui-input-block">
                    <input type="text" name="m_name" value="{$menu.m_name}" lay-verify="required|title" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><span style="color: red;">*</span>菜单父级</label>
                <div class="layui-input-block">
                    <input type="text" lay-verify="required" value="{$finfo.m_name}" readonly autocomplete="off" class="layui-input">
                    <input type="hidden" name="m_fid" value="{$finfo.m_id}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>菜单类型</label>
                <div class="layui-input-inline">
                    <select name="m_type" lay-verify="required">
                        <option value="">请选择菜单类型</option>
                        <option value="1" {if condition="$menu['m_type'] eq 1"}selected{/if}>菜单</option>
                        <option value="2" {if condition="$menu['m_type'] eq 2"}selected{/if}>操作</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>控制器名</label>
                <div class="layui-input-block">
                    <input type="text" name="m_control" value="{$menu.m_control}" lay-verify="required" placeholder="请输入控制器名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>方法名称</label>
                <div class="layui-input-block">
                    <input type="text" name="m_action" value="{$menu.m_action}" lay-verify="required" placeholder="请输入方法名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单图标</label>
                <div class="layui-input-block">
                    <input type="text" name="m_icon" value="{$menu.m_icon}" lay-verify="required" placeholder="请输入菜单图标" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="text" name="m_sort" value="{$menu.m_sort}" lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="saveInfo">修改</button>
                    <a class="layui-btn layui-btn-primary" href="<?=url('admin/menu')?>">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form','jquery'], function(){
        var form = layui.form
            ,$ = layui.jquery;
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
            }
        });
    });
</script>
{include file="index/footer" /}