{include file="index/header" /}
<style>
    #pages .layui-laypage-prev {
        padding: 0 12px;
    }
    #pages .layui-laypage-next{
        padding: 0 12px;
    }
    #pages .layui-laypage a{
        border:none;
    }
    #pages .layui-laypage-curr{
        padding: 0 11px;
        height: 24px;
        line-height: 24px;
    }
    #pages .layui-laypage input{
        padding: 0 11px;
        height: 26px;
        line-height: 26px;
    }
    #pages .layui-laypage input, .layui-laypage button{
        padding: 0 11px;
        height: 26px;
        line-height: 26px;
    }
    #pages .layui-laypage select{
        height: 18px;
    }
</style>
<div style="margin: 20px;">
<span class="layui-breadcrumb" lay-separator=">">
    <a>员工管理</a>
    <a><cite>角色列表</cite></a>
</span>
    <div style="float:right;">
        <button class="layui-btn layui-btn-primary layui-btn-sm"  onclick="addAdmin()"><i class="layui-icon"></i>新增角色</button>
    </div>
</div>
<hr/>
<div class="layui-tab">
    <table lay-skin="line" class="layui-table" lay-filter="parse-table-demo" style="padding: 10px;text-align: left;border: 1px;solid-color: #28282c">
                    <thead>
                    <tr>
                        <td style="padding-left: 30px;">编号</td>
                        <td>角色名称</td>
                        <td>人数统计（人）</td>
                        <td  style="text-align: right;padding-right: 50px;">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    {if condition="$role eq null"}
                    <tr><td colspan="4">暂无内容</td></tr>
                    {/if}
                    {volist name='role' id='na'}
                    <tr>
                        <td style="padding-left: 30px;">{$na.r_bid}</td>
                        <td>{$na.r_name}</td>
                        <td>{$na.countNum}</td>
                        <td style="text-align: right;padding-right: 30px;">
                            <button class="layui-btn layui-btn-xs" onclick="editRole({$na.r_id})"><i class="layui-icon">&#xe642;</i>编辑</button>
                            <button class="layui-btn layui-btn-disabled layui-btn-xs" onclick="delRole({$na.r_id})"><i class="layui-icon">&#xe640;</i>删除</button>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
    <div id="pages" style="text-align: left;padding: 7px;"></div>
</div>
<script>
    layui.use(['form','laypage','layer'], function(){
        var form = layui.form,
            laypage = layui.laypage,
            layer = layui.layer;
        laypage.render({
            elem: 'pages'
            ,count: {$count}
            ,limit: {$limit}
            ,curr: {$page}
            ,limits: [10, 15, 20]
            ,prev:'<i class="layui-icon">&#xe603;</i>'
            ,next:'<i class="layui-icon">&#xe602;</i>'
            ,layout: ['prev', 'page', 'next', 'skip','count',  'limit']
            ,jump: function(obj,frist){
                if(!frist){
                    window.location.href="<?=url('admin/admin')?>?page="+obj.curr+"&limit="+obj.limit;
                }
            }
        });
        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });
    });
    //删除管理员
    function delRole() {
        layer.msg('默认角色禁止删除',{
            time: 2000
        });
//        layer.confirm('确定删除这个角色？删除后不可恢复！', {
//            btn : [ '确定', '取消' ]
//        }, function() {
//            layer.msg('您已删除此角色', {icon: 1});
//            window.location.href='<?=url("admin/delrole")?>?r_id='+ r_id ;
//        },function(){
//            layer.msg('您已取消该操作！',{
//                time: 2000
//            });
//        });
    }
</script>
<script type="text/javascript">
    function addAdmin(){
        window.location.href='<?=url('admin/addRole')?>';
    }
    function editRole(r_id){
        // if(r_id == 1){
        //     layer.msg('超级管理员禁止修改',{
        //         time: 2000
        //     });
        // }else{
            window.location.href='<?=url("admin/editrole")?>?r_id='+ r_id ;
        // }
    }
</script>
{include file="index/footer" /}