{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>系统配置</a>
        <a><cite>区域管理</cite></a>
    </span>
        <div style="float:right;">
            <button class="layui-btn layui-btn-primary layui-btn-sm"  onclick="addProv()"><i class="layui-icon"></i>添加省份</button>
        </div>
    </div>
    <hr/>
    <ul class="layui-tab-title">
        <li class="layui-this">省份</li>
        <li><a href="<?=url('district/city')?>">城市</a></li>
        <li><a href="<?=url('district/area')?>">县区</a></li>
    </ul>
    <table lay-skin="line" class="layui-table" lay-filter="parse-table-demo" style="padding: 30px;text-align: center;border: 1px;solid-color: #28282c;text-align: left">
        <colgroup>
            <col width="500">
            <col width="1060">
            <col width="160">
        </colgroup>
        <thead>
            <tr>
                <td style="padding-left: 50px;" >编号</td>
                <td>省份名称</td>
                <td >操作</td>
            </tr>
        </thead>
        <tbody>
            {volist name='provInfo' id='prov'}
                <tr>
                    <td style="padding-left: 50px;">{$prov.p_id}</td>
                    <td >{$prov.p_name}</td>
                    <td >
                    <button class="layui-btn layui-btn-xs" onclick="editProv({$prov.p_id})"><i class="layui-icon">&#xe642;</i>编辑</button>
                    <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="delProv({$prov.p_id})" data-type="test2"><i class="layui-icon">&#xe640;</i>删除</button>
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
</div>
<script>
    layui.use('layer', function(){
        // $('.demo').on('click', function(){
        //     var type = $(this).data('type');
        //     active[type] ? active[type].call(this) : '';
        // });
    });
    function delProv(p_id) {
        layer.confirm('确定删除这个省份？删除后不可恢复！', {
            btn : [ '确定', '取消' ]//按钮
        }, function() {
            layer.msg('您已删除该省份', {icon: 1});
            window.location.href='<?=url("regin/delProv")?>?p_id='+ p_id ;
        },function(){
            layer.msg('您已取消该操作！',{
                time: 2000
            });
        });
    }
    function delCity(c_id) {
        layer.confirm('确定删除这个城市？删除后不可恢复！', {
            btn : [ '确定', '取消' ]//按钮
        }, function() {
            layer.msg('您已删除此城市', {icon: 1});
            window.location.href='<?=url("regin/delCity")?>?c_id='+ c_id ;
        },function(){
            layer.msg('您已取消该操作！',{
                time: 2000
            });
        });
    }
</script>
<script type="text/javascript">
    function addProv(){
        window.location.href='<?=url('regin/addProv')?>';
    }
    function editProv(p_id){
        window.location.href='<?=url("regin/editProv")?>?p_id='+ p_id ;
    }
    function addCity(){
        window.location.href='<?=url('regin/addCity')?>';
    }
    function editCity(c_id){
        window.location.href='<?=url("regin/editCity")?>?c_id='+ c_id ;
    }
</script>
{include file="index/footer" /}