{include file="common/header" /}
<!-- 主体 -->
<style>
    .layui-breadcrumb {
    visibility: visible;
    font-size: 0;
}
    .mod-title {
        padding-top: 11px !important;
        line-height: 46px;
        font-size: 20px;
        color: #333;
        width: 100%;
    }
    .house-info-peitao {
        margin-bottom: -10px;
        font-size: 14px;
        color: #ccc;
    }
    .house-info-peitao .has {
        color: #666;
    }
    .house-info-peitao .peitao-item {
        float: left;
        text-align: center;
        width: 80px;
        padding: 0;
    }
</style>
<div class="body-box-bg">
    <!-- 主体 -->
    <div class="breadcrumb con">
        <em>当前位置：</em>
        <a href="<?=url('index/index')?>" >首页</a>
        <a>></a>
        <a href="<?=url('seek/index')?>">轻松找房</a>
        <a>></a>
        <a href="">
            <cite>{$house.h_name}</cite>
        </a>
    </div>
    <div class="case-show-con clearfix con">
        <!-- 左 -->
        <div class="case-show-left pull-left">
            <!-- 上 -->
            <div class="top">
                {if condition="$house.h_video neq null"}
                <a class="case-roaming" target="_blank" href="">
                    360°看房
                    <i class="arrow-right"></i>
                </a>
                {/if}
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        {volist name="house.h_img" id="item"}
                        <div class="swiper-slide">
                            <img src="{$item}" alt="">
                        </div>
                        {/volist}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
            <!-- 下 -->
            <div class="bto">
                <table class="layui-table">
                    <colgroup>
                        <col width="96">
                        <col width="208">
                        <col width="96">
                        <col width="208">
                        <col width="96">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>所在区域</td>
                        <td>{$house.h_address}</td>
                        <td>租金</td>
                        <td>{$house.h_rent}元/{if condition="$house.h_rent_type eq 1"}月{else/}日{/if}</td>
                        <td>小区名称</td>
                        <td>{$house.h_building}</td>
                    </tr>
                    <tr>
                        <td>朝向</td>
                        <td>{$house.h_head}</td>
                        <td>附近公交</td>
                        <td>{$house.h_nearbus}</td>
                        <td>沿线地铁</td>
                        <td>{$house.h_subway}</td>
                    </tr>  <tr>
                        <td>面积</td>
                        <td>{$house.h_area}㎡</td>
                        <td>楼层</td>
                        <td>{$house.h_floor}</td>
                        <td>租赁类型</td>
                        <td>{if condition="$house.h_iscop eq 1"}整租{else/}合租{/if}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bto">
                <div class="mod-title bottomed">
                    <h3 class="title">房屋配套</h3>
                </div>
                <ul class="house-info-peitao cf" style="padding-top: 15px;"  data-trace="{'pc_zfdy_fypt_show':1}">
                    <!-- 带有此功能则加has -->
                    {volist name="house.config_img" id="imgs"}
                    <li class="peitao-item has">
                        <img src="{$imgs.type_img}" style="height: 50px;width: 50px;padding: 8px;"/>
                        <div class="peitao-info">{$imgs.type_name}</div>
                    </li>
                    {/volist}
                </ul>
            </div>

            <div class="bto" style="margin-top: 100px;">
                <div class="mod-title bottomed">
                    <h3 class="title">房源简介</h3>
                </div>
                <div class="decor-show-content" >
                    {$house.h_description}
                </div>
            </div>
        </div>
        <!-- 右 -->
        <div class="case-show-right pull-left">
        <div class="HouInfoR">
            <!--   特价显示-->
            {if condition="$house.h_discount neq null"}
                <div class="houPrice">
                    <div class="price_txt  price_txt02">
                        <h4>{$house.h_discount}</h4>
                    </div>
                </div>
            {/if}
            <div class="sharePhone">
                <div class="houPhone" style="text-align: center;">{$hotLine}</div>
                <p class="houShareText" style="text-align: center;"><em>{$house.h_view}人浏览</em></p>
            </div>
            <div class="ljdf">
                <div class="ljdf-btn" onclick="makePoint()" id="ljdf-btn"></div>
                <div class="flip-wx">
                    <div class="flip-box">
                        <div class="wx-pic" id="qrcode"></div><br>
                        <p>使用手机小屋app或微信扫码订房</p>
                    </div>
                </div>
            </div>
            <dl class="houTopInfo clearfix">

            </dl>
            <div class="hinfoRborder clearfix">
                <h3 class="AimTit">小屋向您保证</h3>
                <div class="AimTopCon clearfix">
                    <span class="aCon01">安全承诺</span>
                    <span class="aCon02">服务承诺</span>
                    <span class="aCon03">保洁承诺</span>
                </div>
                <p class="aimSubText" style="text-align: left !important;">小屋服务全程保障您的权益，租客认证、一客一锁解决您在租房过程中各种担忧，专人保洁、专业维修免除您在居住期间的后顾之忧。通过投诉全公示、400热线等确保您的权益得到落实。</p>
                <ul class="aimList">
                    <li>
                        <p><em class="num_01 fL">ONE</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;">租客认证&nbsp;凡有意向入住小屋的租客，需要提供相关证明，通过我们的租客认证。新客首次入住可享受三天免费退房。</div>
                    </li>
                    <li>
                        <p><em class="num_02 fL">TWO</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;">一客一锁&nbsp;每间房间都设置不同的密码锁，电子控制。</div>
                    </li>
                    <li>
                        <p><em class="num_03 fL">THREE</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;">专人保洁&nbsp;为了给小屋客户创造品质的租住生活，每周2次公共区域保洁。</div>
                    </li>
                    <li>
                        <p><em class="num_04 fL">FOUR</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;" >专业维修&nbsp;小屋针对房屋主体，电路，灯具等提供24小时内响应，48小时上门，三个工作日完成的维修服务。</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <!-- 相关案例 -->
    <div class="case-foot-test con">
        <div class="case-foot-title">
            <span>热门房源</span>
        </div>
        <ul class="clearfix">
            {volist name="hotHouse" id="houses"}
            <li>
                <a href="<?=url('seek/details')?>?h_id={$houses.h_id}">
                                <span>
                                    <img src="{$houses.h_house_img}" alt="{$houses.h_img_alt}">
                                </span>
                    <em>{$house.h_name}</em>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
<div id="layers-sign" class="none">
    <form class="layui-form" id="houseForm" >
        <div class="layui-form-item">
            <label class="layui-form-label">您的称呼</label>
            <div class="layui-input-inline">
                <input type="hidden" name="ho_remark" value="立即订房屋编号为{$house.h_b_id}的房"/>
                <input type="text" class="layui-input" lay-verify="required" name="ho_name" placeholder="请输入您的姓名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">您的电话</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" lay-verify="required|phone" name="ho_phone" placeholder="请输入您的电话号码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 140px;">
                <span class="layui-btn layui-btn-red" lay-submit  lay-filter="saveInfo">立即预约</span>
            </div>
        </div>
    </form>
</div>
{include file="common/footer" /}
<!-- Initialize Swiper -->
<script>
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script>
    function makePoint() {
        layui.use(['layer', 'form', 'element'], function () {
            var layer = layui.layer,
                form = layui.form;
            layer.open({
                type: 1,
                title: '立即订房',
                area: '420px',
                btnAlign: 'c',
                content: $('#layers-sign'),
                success: function (layero) {

                }
            });
            form.on('submit(saveInfo)', function(data){
                $.ajax({
                    'type':"post",
                    'url':"<?=url('seek/houseOrder')?>",
                    'data':$('#houseForm').serialize(),
                    'success':function (result) {
                        if(result.code == '1'){
                            layer.msg(result.msg, {icon: 1, time: 2000},function () {
                                window.location.reload();
                            });
                        }else{
                            layer.msg(result.msg, {icon: 2, time: 3000});
                        }
                    }
                })
            });
        })
    }
</script>