{include file="common/header" /}
<!-- 主体 -->
<style>
    .layui-breadcrumb {
        visibility: visible;
        font-size: 0;
    }
</style>
<div class="body-box-bg">
    <div class="packed-ban" style="margin-top: 0;">
        <div class="packed-ban-con con">
            <h1>找附近房源，快速了解最热信息!</h1>
            <!-- 搜索 -->
            <div class="packed-search">
                <input type="text" {if isset($keywords)} value="{$keywords}" {/if} id="keywords" placeholder="点击搜索即可展示附近房源">
                <span onclick="formQuery()"></span>
            </div>
            <p>
            </p>
        </div>
    </div>
    <!-- 面包屑 -->
    <div class="breadcrumb con">
            <em>当前位置：</em>
            <a href="<?=url('index/index')?>" >首页</a>
             <a>></a>
            <a href="">
                <cite>轻松找房</cite>
            </a>
    </div>
    <!-- 分类筛选 -->
    <div class="common-filter con clearfix">
        <ul class="common-filter-con">
            <li class="clearfix">
                <span class="pull-left">位置：</span>
                <div class="pull-left">
                    <a href="<?=url('seek/index')?>?area_id=0&style_id={$style_id}&rent_id={$rent_id}" {if condition="$area_id eq 0"}class="active"{/if}>全部</a>
                </div>
                {volist name="area" id="vos"}
                    <div class="pull-left">
                        <a href="<?=url('seek/index')?>?area_id={$vos.area_id}&style_id={$style_id}&rent_id={$rent_id}" {if condition="$area_id eq $vos.area_id"}class="active"{/if}>{$vos.area_name}</a>
                    </div>
                {/volist}
            </li>

            <li class="clearfix">
                <span class="pull-left">房型：</span>
                <div class="pull-left">
                    <a  href="<?=url('seek/index')?>?area_id={$area_id}&style_id=0&rent_id={$rent_id}" {if condition="$style_id eq 0"}class="active"{/if}>全部</a>
                </div>
                {volist name="houseType" id="vos"}
                <div class="pull-left">
                    <a href="<?=url('seek/index')?>?area_id={$area_id}&style_id={$vos.type_id}&rent_id={$rent_id}" {if condition="$style_id eq $vos.type_id"}class="active"{/if}>{$vos.type_name}</a>
                </div>
                {/volist}
            </li>

            <li class="clearfix">
                <span class="pull-left">月租：</span>
                <div class="pull-left">
                    <a  href="<?=url('seek/index')?>?area_id={$area_id}&style_id={$style_id}&rent_id=0"{if condition="$rent_id eq 0"}class="active"{/if}>全部</a>
                </div>
                {volist name="rent" id="vos"}
                <div class="pull-left" >
                    <a href="<?=url('seek/index')?>?area_id={$area_id}&style_id={$style_id}&rent_id={$vos.type_id}" {if condition="$rent_id eq $vos.type_id"}class="active"{/if} >{$vos.type_name}</a>
                </div>
                {/volist}
            </li>
        </ul>
    </div>

    <!-- 房源列表 -->
    <div class="case-test con">
        <li class="clearfix">
            <!-- 1 -->
            {if condition="$houseInfo neq null"}
            {volist name="houseInfo" id="house"}
            <div class="case-test-box">
                {if condition="$house.h_video neq null"}
                <a class="case-roaming" target="_blank" href="{$house.h_video}">
                    360°看房
                    <i class="arrow-right"></i>
                </a>
                {/if}

                <div class="top">
                    <a href="<?=url('seek/details')?>?h_id={$house.h_id}">
                        <img src="__PUBLIC__/{$house.h_house_img}" alt="{$house.h_img_alt}">
                    </a>
                </div>
                <div class="bto clearfix">
                    <div class="pull-left">
                        <p><b style="font-size: larger">{$house.h_name}{$house.h_subway}</b> </p>
                        <em>{$house.h_rent}元/{if condition="$house.h_rent_type eq 1"}月{else/}日{/if}</em>
                        <p  class="pull-left">
                            <i style="width:170px;">{$house.h_address}</i>
                            <a class="layui-btn layui-btn-primary" href="<?=url('seek/details')?>?h_id={$house.h_id}">查看详情</a>
                            <a class="layui-btn" onclick="makePoint('{$house.h_building}')">预约看房</a>
                        </p>
                    </div>
                </div>
            </div>
            {/volist}
            {else/}
            <div class="case-test-box">
                暂无信息
            </div>
            {/if}
        </li>
    </div>
    <!-- 分页 -->
    <div id="pages" style="text-align: center;padding: 7px;"></div>
</div>
<div id="layers-sign" class="none">
    <form class="layui-form" id="houseForm" >
        <div class="layui-form-item">
            <label class="layui-form-label">您的称呼</label>
            <div class="layui-input-inline">
                <input type="hidden" name="ho_remark" class="ho_remark" />
                <input type="text" class="layui-input" lay-verify="required" name="ho_name" placeholder="请输入您的姓名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">您的电话</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" lay-verify="required|phone" name="ho_phone" placeholder="请输入您的电话号码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 140px;">
                <span class="layui-btn layui-btn-red" lay-submit  lay-filter="saveInfo">立即预约</span>
            </div>
        </div>
    </form>
</div>
<!-- Initialize Swiper -->
<script>
    layui.use(['laypage'], function () {
        var laypage = layui.laypage;
        laypage.render({
            //自定义每页条数的选择项
            elem: 'pages'
            ,first: false
            ,last: false
            ,count: {$count}
            ,limit: {$limit}
            ,curr: {$page}
            ,layout: ['count', 'prev', 'page', 'next']
            ,jump: function(obj,frist){
                var keywords=$('#keywords').val();
                var area_id={$area_id};
                var style_id={$style_id};
                var rent_id={$rent_id};
                if(!frist){
                    if(keywords.length>0){
                        window.location.href="<?=url('seek/index')?>?area_id="+area_id+"&style_id="+style_id+"&rent_id="+rent_id+"&keywords="+keywords+"&page="+obj.curr+"&limit="+obj.limit;
                    }else{
                        window.location.href="<?=url('seek/index')?>?area_id="+area_id+"&style_id="+style_id+"&rent_id="+rent_id+"&keywords="+keywords+"&page="+obj.curr+"&limit="+obj.limit;
                    }
                }
            }
        });
    });
    //查找
    function formQuery(){
        var keywords=$('#keywords').val();
        location.href="<?=url('seek/index')?>?area_id={$area_id}&style_id={$style_id}&rent_id={$rent_id}&keywords="+keywords;
    }
    var swiper = new Swiper('.swiper-container1', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    var swiper = new Swiper('.swiper-container2', {
        spaceBetween: 30,
        centeredSlides: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script>
    function makePoint(h_b_id) {
        layui.use(['layer', 'form', 'element'], function () {
            var layer = layui.layer,
                form = layui.form;
            layer.open({
                type: 1,
                title: '立即订房',
                area: '420px',
                btnAlign: 'c',
                content: $('#layers-sign'),
                success: function (layero) {
                    $('.ho_remark').val('立即订小区名称为'+h_b_id+'的房');
                }
            });
            form.on('submit(saveInfo)', function(data){
                $.ajax({
                    'type':"post",
                    'url':"<?=url('seek/houseOrder')?>",
                    'data':$('#houseForm').serialize(),
                    'success':function (result) {
                        if(result.code == '1'){
                            layer.msg(result.msg, {icon: 1, time: 2000},function () {
                                window.location.reload();
                            });
                        }else{
                            layer.msg(result.msg, {icon: 2, time: 3000});
                        }
                    }
                })
            });
        })
    }
</script>
{include file="common/footer" /}