{include file="common/header" /}
<div class="layui-side layui-bg-black" style="top: 60px!important;">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a class="" href="javascript:;">房源管理</a>
                <dl class="layui-nav-child">
                    <dd><a data-url="<?=url('house/index')?>">房源列表</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class='layui-body' style="left: 0px;">
    <iframe id='option' src="<?=url('index/welcome')?>" frameborder='no' width='100%' height='99%'>
    </iframe>
</div>
<div class="layui-footer">
    <!-- 底部固定区域 -->
   技术支持QQ:1549089944
</div>
{include file="common/footer" /}