{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>会员管理</a>
        <a href="<?=url('customer/conpon')?>">营销管理</a>
        <a><cite>修改优惠券</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('customer/conpon')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" id="conponForm">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>优惠券标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="cp_title" value="{$conpon.cp_title}" lay-verify="required|title" placeholder="请输入优惠券标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>优惠金额</label>
                    <div class="layui-input-inline">
                        <input type="text" value="{$conpon.cp_money}" onkeyup="this.value=this.value.replace(/\D/g, '')" name="cp_money" lay-verify="required" placeholder="请输入优惠金额" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">单位：元。</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>截止日期</label>
                    <div class="layui-input-inline">
                        <input type="text" readonly value="{$conpon.cp_deadline}" id="cp_deadline" name="cp_deadline" lay-verify="required" placeholder="请选择截止日期" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span style="color: red;">*</span>优惠券摘要</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入优惠券摘要" lay-verify="required" name="cp_desc" class="layui-textarea">{$conpon.cp_desc}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <span class="layui-btn" lay-submit lay-filter="saveInfo">发布</span>
                        <a class="layui-btn layui-btn-primary" href="<?=url('customer/conpon')?>">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,$ = layui.jquery;
        //编辑器图片上传接口
        laydate.render({
            elem: '#cp_deadline',
            min: 0
        });
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
        });

        //监听提交
        form.on('submit(saveInfo)', function(data){
            $.ajax({
                'type':"post",
                'url':"<?=url('customer/editconpon')?>?cp_id={$conpon.cp_id}",
                'data':$('#conponForm').serialize(),
                'success':function (result) {
                    console.log(result.data);
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            window.location.href='<?=url('customer/conpon')?>';
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                'error':function (error) {
                    console.log(error);
                }
            })
        });
    });
</script>
{include file="index/footer" /}