<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>居住体验调查问卷表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="__WAP__/css/mui.min.css">
    <!--App自定义的css-->
    <!-- <link rel="stylesheet" type="text/css" href="../css/app.css" /> -->
    <style>
        h5 {
            margin: 5px 7px;
        }
    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">居住体验调查问卷表</h1>
</header>
<div class="mui-content">
<div class="mui-card">
    <h5 style="line-height: 27px;text-indent: 2em"> 亲爱的朋友们，十一节假日就这么在旅游的回味中结束了，当您携裹风尘而来的时候，西安这座古色古香的城市可曾带给您如期的美好？可曾有春风得意马蹄急，一日看见长安花的激昂情怀？可曾有豪家沽酒长安陌，一旦起楼高百尺的心灵震撼？最主要的，可曾在小屋智能公寓找到家的归属感？</h5>

    <h5 style="line-height: 27px;text-indent: 2em"> 为了以后给您带来更完善的设施、更优质的服务、更细致的感受、更理想的环境和更舒心的居住体验，特设此问卷调查，以便更多的人能帮助小屋智能公寓快快成长，让小屋智能公寓从一个不谙世事的小萝莉，尽快长成一个温柔知性的美少女。</h5>
    <h5 style="line-height: 27px;text-indent: 2em"> 为了以后给您带来更完善的设施、更优质的服务、更细致的感受、更理想的环境和更舒心的居住体验，特设此问卷调查，以便更多的人能帮助小屋智能公寓快快成长，让小屋智能公寓从一个不谙世事的小萝莉，尽快长成一个温柔知性的美少女。</h5>
    <h5 style="line-height: 27px;text-indent: 2em">好啦，重点来啦，本次问卷调查可有奖励拿哦，凡参与答题者，均可获得公司旗下所有分公司所在城市的免费一天短租哦，您可以理解为，<b style="color: #0C0C0C !important;">只要参与了答题，下次去了另一个城市，只要小屋智能公寓分公司在那里，就可以获得免费一天短租哦，小屋智能公寓还会在后台筛选，认真答题并给出合理建议或意见者，可享受三天五折短租的优惠哦，</b>那不多说了，答题开始咯。</h5>
<!--1-->
    <p style="font-size: 18px;margin-top: 70px;">1.您是否对我们的短租流程满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_rent_step" class="q_rent_step" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_rent_step" class="q_rent_step" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_rent_step" class="q_rent_step"  value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_rent_step" class="q_rent_step" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_rent_step" class="q_rent_step" value="1" type="radio" >
    </div>
<!--2-->
    <p style="font-size: 18px;">2.您是否对我们的服务流程满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_service_step" class="q_service_step" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_service_step" class="q_service_step" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_service_step" class="q_service_step" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_service_step" class="q_service_step" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_service_step" class="q_service_step" value="1" type="radio" >
    </div>
<!--3-->
    <p style="font-size: 18px;">3.您是否对居住环境满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_aroundings" class="q_aroundings" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_aroundings" class="q_aroundings" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_aroundings" class="q_aroundings" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_aroundings" class="q_aroundings" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_aroundings" class="q_aroundings" value="1" type="radio" >
    </div>
<!--4-->
    <p style="font-size: 18px;">4.您是否对小区的安保措施满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_security" class="q_security" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_security" class="q_security"  value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_security" class="q_security" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_security" class="q_security" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_security" value="1" type="radio" >
    </div>
<!--5-->
    <p style="font-size: 18px;">5.您是否对小屋的布局满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_layout" class="q_layout" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_layout" class="q_layout" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_layout" class="q_layout" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_layout" class="q_layout" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_layout" class="q_layout" value="1" type="radio" >
    </div>
<!--6-->
    <p style="font-size: 18px;">6.您是否对小屋的整洁满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_clean" class="q_clean" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_clean" class="q_clean" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_clean" class="q_clean" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_clean" class="q_clean" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_clean" class="q_clean" value="1" type="radio" >
    </div>
<!--7-->
    <p style="font-size: 18px;">7.您是否对小屋的配套设施满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_setinfo" class="q_setinfo" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_setinfo" class="q_setinfo" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_setinfo" class="q_setinfo" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_setinfo" class="q_setinfo" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_setinfo" class="q_setinfo" value="1" type="radio" >
    </div>
<!--8-->
    <p style="font-size: 18px;">8.您是否对居住的交通满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_transport" class="q_transport" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_transport" class="q_transport" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_transport" class="q_transport" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_transport" class="q_transport" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_transport" class="q_transport" value="1" type="radio" >
    </div>
<!--9-->
    <p style="font-size: 18px;">9.您是否对小区的购物便利满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_shopping" class="q_shopping" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_shopping" class="q_shopping" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_shopping" class="q_shopping" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_shopping" class="q_shopping" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_shopping" class="q_shopping" value="1" type="radio" >
    </div>
<!--10-->
    <p style="font-size: 18px;">10.您对小屋的整体居住体验是否满意？</p>
    <div class="mui-input-row mui-radio mui-left">
        <label>非常满意</label>
        <input name="q_experience" class="q_experience" value="10" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>基本满意</label>
        <input name="q_experience" class="q_experience" value="8" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>一般</label>
        <input name="q_experience" class="q_experience" value="5" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>不满意</label>
        <input name="q_experience" class="q_experience" value="3" type="radio" >
    </div>
    <div class="mui-input-row mui-radio mui-left">
        <label>极度不满意</label>
        <input name="q_experience" class="q_experience" value="1" type="radio" >
    </div>

</div>
    <div class="mui-input-row" style="margin: 10px 5px;">
        <textarea id="q_remarks" rows="5" placeholder="假如您对以上有不满意的地方，请在此申明不满意理由。"></textarea>
    </div>
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>姓名</label>
            <input type="text" name="q_user_name" id="q_user_name" class="mui-input" placeholder="请输入您的姓名">
        </div>
        <div class="mui-input-row">
            <label>电话</label>
            <input type="text" id="q_user_phone" onkeyup="this.value=this.value.replace(/\D/g, '')" name="q_user_phone" class="mui-input" placeholder="请输入您的联系方式"/>
        </div>
        <div class="mui-input-row">
            <label>微信名称</label>
            <input type="text" id="q_user_wechat" name="q_user_wechat" class="mui-input" placeholder="请输入您的微信名称"/>
        </div>
    </form>
    <div class="mui-button-row">
        <span type="button" id="subBtn" class="mui-btn mui-btn-warning mui-btn-block">提交问卷</span>
    </div>
</div>
<script src="__PUBLIC__/static/jquery-1.10.2.min.js"></script>
<script src="__WAP__/js/mui.min.js"></script>
<script>
    $('#subBtn').click(function () {
        var q_remarks=document.getElementById('q_remarks').value;
        var q_rent_step=document.querySelector('[name="q_rent_step"]:checked');
        var q_service_step=document.querySelector('[name="q_service_step"]:checked');
        var q_aroundings=document.querySelector('[name="q_aroundings"]:checked');
        var q_security=document.querySelector('[name="q_security"]:checked');
        var q_layout=document.querySelector('[name="q_layout"]:checked');
        var q_clean=document.querySelector('[name="q_clean"]:checked');
        var q_setinfo=document.querySelector('[name="q_setinfo"]:checked');
        var q_transport=document.querySelector('[name="q_transport"]:checked');
        var q_shopping=document.querySelector('[name="q_shopping"]:checked');
        var q_experience=document.querySelector('[name="q_experience"]:checked');
        if(
            q_rent_step==null
            || q_service_step==null
            || q_aroundings==null
            || q_security==null
            || q_layout==null
            || q_clean==null
            || q_setinfo==null
            || q_transport==null
            || q_shopping==null
            || q_experience==null
    ){
            mui.alert("请完成问题后再提交！");
        }else{
            if($('#q_user_name').val().length<=0){
                mui.alert("请填写您的姓名！");
            }else{
                var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
                if($('#q_user_phone').val().length!=11 && !myreg.test($('#q_user_phone').val())){
                    mui.alert("请填写正确的手机号码！");
                }else{
                    if($('#q_user_wechat').val()<=0){
                        mui.alert("请填写您的微信名称！");
                    }else{
                        $.ajax({
                            'type':"post",
                            'url':"<?=url('index/index')?>",
                            'data':{'q_rent_step':q_rent_step.value,'q_service_step':q_service_step.value,'q_aroundings':q_aroundings.value,'q_security':q_security.value,'q_layout':q_layout.value,'q_clean':q_clean.value,'q_setinfo':q_setinfo.value,'q_transport':q_transport.value,'q_shopping':q_shopping.value,'q_experience':q_experience.value,'q_user_name':$('#q_user_name').val(),'q_user_phone':$('#q_user_phone').val(),'q_remarks':q_remarks,'q_user_wechat':$('#q_user_wechat').val()},
                            'success':function (result) {
                                if(result.code == '1'){
                                    mui.alert(result.msg, function() {
                                        window.location.href='<?=url("index/index")?>';
                                    });
                                }else{
                                    mui.alert(result.msg);
                                }
                            },
                            'error':function (error) {
                                console.log(error);
                            }
                        })
                    }
                }
            }
        }
    });
</script>
</body>

</html>