{include file="common/header" /}
<style>
    .layui-breadcrumb {
        visibility: visible;
        font-size: 0;
    }
</style>
<div class="body-box-bg">
    <!-- 面包屑 -->
    <div class="breadcrumb con">
        <span class="layui-breadcrumb" lay-separator=">">
            <em>当前位置：</em>
            <a href="<?=url('index/index')?>">首页</a>
              <a>></a>
            <a href="<?=url('news/index')?>">新闻资讯</a>
              <a>></a>
            <a href="">
                <cite>{$art.art_title}</cite>
            </a>
        </span>
    </div>
    <!-- 当前页面内容 -->
    <div class="decor-show-con con clearfix">
        <!-- 左 -->
        <div class="decor-show-left pull-left">
            <!-- 上 -->
            <div class="decor-show-title">
                <h1>{$art.art_title}</h1>
                <div class="clearfix" >
                    <span class="pull-left" style="color:#515151;">
                        发布时间：{$art.art_updatetime} &nbsp;&nbsp; &nbsp;&nbsp;|&nbsp;&nbsp;分享到：
                    </span>
                    <div class="pull-left" style="display: inline-block">
                        <div class="bdsharebuttonbox">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        </div>
                        <script>
                            window._bd_share_config = {
                                "common": {
                                    "bdSnsKey": {},
                                    "bdText": "",
                                    "bdMini": "2",
                                    "bdPic": "",
                                    "bdStyle": "0",
                                    "bdSize": "16"
                                },
                                "share": {}
                            };
                            with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement(
                                'script')).src =
                                'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~
                                    (-new Date() / 36e5)];
                        </script>
                    </div>
                </div>
            </div>
            <hr class="layui-bg-red">
            <!-- 下 -->
            <div class="decor-show-content" >
                {$art.art_content}
            </div>
        </div>
        <!-- 右 -->
        <div class="decor-con-right pull-right ">
            <figure>
                <a href="#">
                    <img src="__WEB__/img/news1.jpg" style="width: 337px" alt="">
                </a>
            </figure>
            <!-- 热门推荐 -->
            <div class="decor-hot" style="width: 337px">
                <h1>热门攻略推荐</h1>
                <ul>
                    {volist name="hotArt" id="hot"}
                    <li class="clearfix">
                        <a href="<?=url('news/details')?>?art_id={$hot.art_id}">
                            <figure class="pull-left">
                                <img src="{$hot.art_img}" alt="{$hot.art_img_alt}">
                            </figure>
                            <div class="pull-right" style="width: 184px;" >
                                <p>{$hot.art_title}</p>
                                <a href="<?=url('news/details')?>?art_id={$hot.art_id}" class="layui-btn layui-btn-red layui-btn-xs">查看详情</a>
                            </div>
                        </a>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="hinfoRborder clearfix" style="width: 337px">
                <h3 class="AimTit">小屋向您保证</h3>
                <div class="AimTopCon clearfix">
                    <span class="aCon01">安全承诺</span>
                    <span class="aCon02">服务承诺</span>
                    <span class="aCon03">保洁承诺</span>
                </div>
                <p class="aimSubText" style="text-align: left !important;">小屋服务全程保障您的权益，租客认证、一客一锁解决您在租房过程中各种担忧，专人保洁、专业维修免除您在居住期间的后顾之忧。通过投诉全公示、400热线等确保您的权益得到落实。</p>
                <ul class="aimList">
                    <li>
                        <p><em class="num_01 fL">ONE</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;">租客认证&nbsp;凡有意向入住小屋的租客，需要提供相关证明，通过我们的租客认证。新客首次入住可享受三天免费退房。</div>
                    </li>
                    <li>
                        <p><em class="num_02 fL">TWO</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;">一客一锁&nbsp;每间房间都设置不同的密码锁，电子控制。</div>
                    </li>
                    <li>
                        <p><em class="num_03 fL">THREE</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;">专人保洁&nbsp;为了给小屋客户创造品质的租住生活，每周2次公共区域保洁。</div>
                    </li>
                    <li>
                        <p><em class="num_04 fL">FOUR</em><span class="fR aimLine"></span></p>
                        <div class="aimText" style="text-align: left !important;" >专业维修&nbsp;小屋针对房屋主体，电路，灯具等提供24小时内响应，48小时上门，三个工作日完成的维修服务。</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 当前页面底部 -->
    <div class="decor-show-foot">
        <div class="con"></div>
    </div>
</div>
{include file="common/footer" /}