{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>系统配置</a>
        <a href="<?=url('msg/msg')?>">信息配置</a>
        <a href="<?=url('msg/msgtem')?>">短信模板</a>
        <a><cite>修改短信模板</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('msg/msgtem')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('msg/edittem')?>?sms_id={$tem.sms_id}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span style="color: red;">*</span>模板类型
                </label>
                <div class="layui-input-inline">
                    <select name="sms_type" lay-verify="required">
                        <option value="">请选择模板类型</option>
                        <option value="1" {if condition="$tem.sms_type eq 1"}selected{/if} >管理员通知</option>
                        <option value="2" {if condition="$tem.sms_type eq 2"}selected{/if} >普通预约</option>
                        <option value="3" {if condition="$tem.sms_type eq 3"}selected{/if} >报价预约</option>
                        <option value="4" {if condition="$tem.sms_type eq 4"}selected{/if} >量房预约</option>
                        <option value="5" {if condition="$tem.sms_type eq 5"}selected{/if} >活动预约</option>
                        <option value="6" {if condition="$tem.sms_type eq 6"}selected{/if} >设计预约</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span style="color: red;">*</span>模板名称
                </label>
                <div class="layui-input-block">
                    <input type="text" name="sms_title" value="{$tem.sms_title}" lay-verify="required" placeholder='请输入模板名称' autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span style="color: red;">*</span>模板CODE
                </label>
                <div class="layui-input-block">
                    <input type="text" name="sms_code" value="{$tem.sms_code}" lay-verify="required" placeholder='请输入模板CODE' autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><span style="color: red;">*</span>模板内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入模板内容" name="sms_content" lay-verify="required" class="layui-textarea">{$tem.sms_content}</textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">模板说明</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入模板说明" name="sms_remarks" class="layui-textarea">{$tem.sms_remarks}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">修改</button>
                    <a class="layui-btn layui-btn-primary" href="<?=url('msg/msgtem')?>">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.on('radio', function(data){
            console.log(data);
        });
    });
</script>
{include file="index/footer" /}