<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>监理日记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__WAP__/css/mui.min.css">
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="<?=url('index/index')?>"></a>
    <h1 class="mui-title">监理日记</h1>
    {if condition="$status lt 11 "}
        <a class="mui-icon-plusempty mui-icon mui-icon-right-nav mui-pull-right" href="<?=url('index/addlog')?>?h_id={$h_id}"></a>
    {/if}

</header>
<div class="mui-content" style="padding-top: 40px;">
    <div class="mui-card">
        <div class="mui-card-content">
            <ul class="mui-table-view mui-table-view-chevron">
                {if condition="$dailyLog eq null"}
                <li class="mui-table-view-cell mui-media">
                   暂无数据！
                </li>
                {else/}
                    {volist name="dailyLog" id="log"}
                        <li class="mui-table-view-cell mui-media">
                        <a class="mui-navigate-right" href="<?=url('index/logdetails')?>?hdl_id={$log.hdl_id}">
                            <img class="mui-media-object mui-pull-left" src="{$log.hdl_img}">
                            <div class="mui-media-body">
                                {$log.hdl_addtime}
                                <!--<span class="mui-pull-right">{$log.hdl_addtime}</span>-->
                            </div>
                            <p class='mui-ellipsis'>
                                {$log.hdl_title}
                            </p>
                        </a>
                    </li>
                    {/volist}
                {/if}
            </ul>
        </div>
    </div>
</div>
<script src="__WEB__/js/jquery-1.10.2.min.js"></script>
<script src="__WAP__/js/mui.min.js"></script>
<script>
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
    //监听提交
    $('#subBtn').click(function(){
        $.ajax({
            'type':"post",
            'url':"<?=url('index/addpay')?>",
            'data':$('#loginForm').serialize(),
            'success':function (result) {
                console.log(result.data);
                if(result.code == '1'){
                    layer.msg(result.msg, {icon: 1, time: 2000},function () {
                        window.reload();
                    });
                }else{
                    layer.msg(result.msg, {icon: 2, time: 3000});
                }
            },
            'error':function (error) {
                console.log(error);
            }
        })
    });
</script>
</body>

</html>