<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>小屋智能公寓工程部</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__WAP__/css/mui.min.css">
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">房源列表</h1>
</header>
<div class="mui-content" style="padding-top: 40px;">
    {if condition="$houses eq null"}
    <div class="mui-card">
        <div class="mui-card-content" style="height: 40px;text-align: center;line-height: 36px;">
            暂无房源
        </div>
    </div>
    {else/}
    {volist name="houses" id="hous"}
    <div class="mui-card">
        <div class="mui-card-content">
            <div class="mui-card-content-inner">
                <p><b>房源编号：【{$hous.h_b_id}】</b>
                    {if condition="$hous.is_paid_ratio eq 1"}
                    <span style="float: right;">回款率：<span style="margin-left: 8px;" class="mui-badge mui-badge-danger">{$hous.paid_ratio}</span></span>
                    {/if}
                </p>
                <p style="color: #333;">
                    <!--房源标题：{$hous.h_name}-->
                    <!--<br/>-->
                    小区名称：{$hous.h_building}
                    <br/>
                    {if condition="$hous.is_paid_ratio eq 1"}
                    装修款额：{$hous.h_money}（元）
                    <br/>
                    {/if}
                    房屋面积：{$hous.h_area}（㎡）
                    <br/>
                    {if isset($hous.h_contract_code)}
                    合同编号：{$hous.h_contract_code}（元）
                    <br/>
                    {/if}
                    签订日期：{$hous.h_addtime}
                    <br/>
                    房源地址：{$hous.h_address}
                    <br/>
                </p>
            </div>
        </div>
        <div class="mui-card-footer">
            <a class="mui-card-link" href="<?=url('index/details')?>?h_id={$hous.h_b_id}">房源详情</a>
            <a class="mui-card-link" href="<?=url('index/steps')?>?h_id={$hous.h_b_id}">装修进度</a>
            <a class="mui-card-link" href="<?=url('index/dailylog')?>?h_id={$hous.h_b_id}">监理记录</a>
        </div>
    </div>
    {/volist}
    {/if}
</div>
<script src="__WEB__/js/jquery-1.10.2.min.js"></script>
<script src="__WAP__/js/mui.min.js"></script>
<script>
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
</script>
</body>

</html>