<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
$("#subBtn").click(function () {
var h_id={$h_id};
var hdl_title=$('#hdl_title').val();
var img=$('.imgs').val();
var textarea=$('#textarea').val();
var isTrans=$('#isTrans').val();
var trans=$('#transRemark').val();
if(hdl_title.length<=0){
mui.alert("请填写日志标题！");
}else{
if(img.length<=0){
mui.alert("请上传至少一张图片！");
}else{
//判断当前日志是否添加结转
if(isTrans == 1){
//结转
if(trans.length<=0){
mui.alert("请填写结转备注信息！");
}else{
$.ajax({
'type':"post",
'url':"<?=url('index/addlogpro')?>?h_id={$h_id}",
'data':{'h_id':h_id,'hdl_title':hdl_title,'img':img,'textarea':textarea,'isTrans':isTrans,'trans':trans},
'success':function (result) {
console.log(result);
if(result.code == '1'){
layer.msg(result.msg, {icon: 1, time: 2000},function () {
location.href="<?=url('index/dailylog')?>?h_id={$h_id}";
});
}else{
layer.msg(result.msg, {icon: 2, time: 3000});
}
}
})
}
}else{
//不结转
$.ajax({
'type':"post",
'url':"<?=url('index/addlogpro')?>",
'data':{'h_id':h_id,'hdl_title':hdl_title,'img':img,'textarea':textarea,'isTrans':isTrans,'trans':trans},
'success':function (result) {
console.log(result);
if(result.code == '1'){
layer.msg(result.msg, {icon: 1, time: 2000},function () {
location.href="<?=url('index/dailylog')?>?h_id={$h_id}";
});
}else{
layer.msg(result.msg, {icon: 2, time: 3000});
}
}
})
}

}
}
});
</body>
</html>