{include file="common/header"}
<header class="mui-bar mui-bar-nav">
    <a href="<?=url('index/index')?>" class="mui-icon-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">关于我们</h1>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
</header>
<style>

    .mui-plus .plus{
        display: inline;
    }

    .plus{
        display: none;
    }

    #topPopover {
       position: absolute;
        top: 16px;
        right: 6px;
    }
    #topPopover .mui-popover-arrow {
        left: auto;
        right: 6px;
    }
    p {
        text-indent: 22px;
    }
    span.mui-icon {
        font-size: 14px;
        color: #007aff;
        margin-left: -15px;
        padding-right: 10px;
    }
    .mui-popover {
        height: 355px;
    }
</style>
<div id="topPopover" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/index')?>">网站首页</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/deposit')?>">房屋托管</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/house')?>">快速找房</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/promise')?>">品质承诺</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/advance')?>">托管优势</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/news')?>">新闻资讯</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="tel:400-996-1585">联系我们</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="http://api.map.baidu.com/marker?location=34.230218,108.892857&title=陕西大城小屋不动产管理有限公司&content=陕西大城小屋不动产管理有限公司&output=html">公司地址</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="mui-content">
    <div class="mui-card">
        <div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(__WAP__/images/cbd.jpg)"></div>
        <div class="mui-card-content">
            <div class="mui-card-content-inner">
                <h4>一、公司定位和发展目标</h4>
                <p style="color: #333;">
                    陕西大城小屋不动产管理有限公司成立于2018年3月22日，位于西安市高新区沣惠南路16号泰华金贸国际7号楼24层。是一家涉及房产管理、交易服务、金融服务、后房地产市场服务为一体的综合性不动产服务企业。
                </p>
                <h4>二、产品服务</h4>
                <p style="color: #333;">
                    公司业务覆盖房产租赁、房产买卖、海外置业、标准装修、家政服务等领域。公司致力于为闲置房屋业主提供一站式托管服务，打造闲置房屋共享经济时代，同时也为城市租房人群提供高档社区管理+星级酒店服务+智能与科技完美融合为一体的高档智能型公寓。
                </p>
                <h4>三、组织架构</h4>
                <p style="color: #333;">
                    陕西大城小屋不动产管理有限公司由三大机构组成，分别为决策机构、执行机构、监督建构。公司采用“C管理模式（智慧型管理模式）”，C管理模式是以人为核心，凝聚吸收人才为主体，使得企业适应能力性更强，应变能力更为灵活，同时也使得企业所开发的项目更为精良，让企业具有更健康的根基和更广阔的视野。
                </p>
                <h4>四、发展模式</h4>
                <p style="color: #333;">
                    大城小屋行走于新型房服务行业前沿，引领全新的智能公寓模式，策略于将毛坯房进行超高性价比回租、整租、合租，优化房屋资源配置，进行所有房屋资源共享，取得1+1大于2的成果。让各房主均能直观感受到持续性的价值回报。
                </p>
                <h4>五、联系我们</h4>
                <p style="color: #333;">
                    总部地址：
                    <br/>
                    陕西省西安市高新区沣惠南路16号7号楼2401
                    <br/>
                    电话：029-8755-8112&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <!--<p style="color: #333;">-->
                    <!--成都分公司：-->
                    <!--<br/>-->
                    <!--四川省成都市高新区环球中心E1 1-2-702-->
                    <!--<br/>-->
                    <!--电话：028-69215061&nbsp;&nbsp;&nbsp;&nbsp;028-69215051-->
                <!--</p>-->

                <!--<p style="color: #333;">-->
                    <!--重庆分公司：-->
                    <!--<br/>-->
                    <!--重庆市江北区江北城IFS国金中心T2栋610-->
                    <!--<br/>-->
                    <!--电话：023-67753595&nbsp;&nbsp;&nbsp;&nbsp;023-67753685-->
                <!--</p>-->

                <!--<p style="color: #333;">-->
                    <!--南京分公司：-->
                    <!--<br/>-->
                    <!--南京市鼓楼区集庆门大街268号-苏宁慧谷E08-2-1004室-->
                <!--</p>-->
                <!--<p style="color: #333;">-->
                    <!--杭州分公司：-->
                    <!--<br/>-->
                    <!--杭州市江干区钱江新城新业路228号来福士广场（塔一3603）-->
                <!--</p>-->
            </div>
            <div class="mui-card">
                <div class="mui-card-content" id="baiduMap" style="height: 250px;" >
                </div>
            </div>
            <a href="http://api.map.baidu.com/marker?location=34.230218,108.892857&title=陕西大城小屋不动产管理有限公司&content=陕西大城小屋不动产管理有限公司&output=html" class="mui-btn mui-btn-warning mui-btn-block">导航去公司</a>
        </div>
    </div>
</div>
<div class="mui-content" style="margin-top: 8px;background:#fff;padding-top: 0px;">
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p style="color: #5b5b5b;text-align: center;">Copyright © 2018 <a style="color: #5b5b5b" href="<?=url('index/index')?>">www.xiaowugroup.com</a>
                <br/>
                陕西大城小屋不动产管理有限公司
                <br/>
                版权所有 陕ICP备18007211号</p>
        </div>
    </div>
</div>
<div class="mui-content" style="margin-bottom: 8px;background:#fff;padding-top: 0px;">
    <span class="mui-btn mui-btn-warning" style="width: 48%;height: 36px;margin-left: 5px;"><a style="color:#fff" href="tel:18291435205">房屋托管</a></span>
    <span class="mui-btn mui-btn-warning" style="width: 48%;height: 36px"><a style="color:#fff" href="tel:17792870379">公寓租赁</a></span>
</div>
<script src="__WEB__/js/jquery-1.10.2.min.js"></script>
<script src="__WAP__/js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
</script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=OGTwaNvPpPjfAmiUQ3mQtSkt"></script>
<script>
    var map = new BMap.Map('baiduMap');//创建Map实
    var point = new BMap.Point(108.89285,34.230224);//初始化地图,设置中心点坐标
    map.centerAndZoom(point, 15);//地图级别
    map.enableScrollWheelZoom(true);//开启鼠标滚轮缩放
    map.addControl(new BMap.NavigationControl());//添加带有定位的导航控件
    map.addControl(new BMap.MapTypeControl());//添加地图类型控件
    var marker = new BMap.Marker(point);//创建标注
    map.addOverlay(marker);//将标注添加到地图中
    setTimeout(function(){
        map.centerAndZoom(point, 18);//地图级别
    },100);
</script>
</body>

</html>

