{include file="common/header"}
<header class="mui-bar mui-bar-nav">
    <a href="<?=url('index/index')?>" class="mui-icon-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">房源管理</h1>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
</header>
<style>

    .mui-plus .plus{
        display: inline;
    }

    .plus{
        display: none;
    }

    #topPopover {
         position: absolute;
        top: 16px;
        right: 6px;
    }
    #topPopover .mui-popover-arrow {
        left: auto;
        right: 6px;
    }
    p {
        text-indent: 22px;
    }
    span.mui-icon {
        font-size: 14px;
        margin-left: -15px;
        padding-right: 10px;
    }
    .mui-popover {
        height: 355px;
    }
</style>
<div id="topPopover" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/index')?>">网站首页</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/deposit')?>">房屋托管</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/promise')?>">品质承诺</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/advance')?>">托管优势</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/news')?>">新闻资讯</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="<?=url('index/about')?>">关于我们</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="tel:400-996-1585">联系我们</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="http://api.map.baidu.com/marker?location=34.230218,108.892857&title=陕西大城小屋不动产管理有限公司&content=陕西大城小屋不动产管理有限公司&output=html">公司地址</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="mui-content" style="background:#fff;">
    <div class="mui-content-padded">
        <input style="float: left;width: 80%" id="keywords" type="text" placeholder="点击搜索房源"{if isset($keywords)} value="{$keywords}" {/if} />
        <span onclick="formQuery()" style="float: left;width: 18%;margin-left: 5px;padding-left: 5px;margin-top: 5px;padding-top: 5px;" class="mui-btn mui-btn-primary mui-icon mui-icon-search">
            搜索
        </span>
    </div>
</div>
<div class="mui-content" id="getMore" style="background:#fff;">
    {if condition="$house neq null"}
    {volist name="house" id="vo"}
    {if condition="$vo.h_isable eq 2"}
    <div class="mui-card">
        <a>
            <div class="mui-card-header mui-card-media" style="height:58vw;background-image:url(__WEB__/img/decorating.png)"></div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <p style="color: #333;">{$vo.h_building} {$vo.h_area}㎡</p>
                    <p style="color: #333;">{$vo.h_address}</p>
                </div>
            </div>
        </a>
    </div>
    {else/}
    <div class="mui-card">
        <a href="<?=url('index/details')?>?h_id={$vo.h_id}">
            <div class="mui-card-header mui-card-media" style="height:58vw;background-image:url({$vo.h_house_img})"></div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <p style="color: #333;">{$vo.h_name}  {$vo.h_area}㎡&nbsp;{$vo.h_rent}元/{if condition="$vo.h_rent_type eq 1"}月{else/}日{/if}</p>
                    <p style="color: #333;">{$vo.h_address}-{$vo.h_building}-{$vo.h_subway}-{$vo.h_nearbus}</p>
                </div>
            </div>
        </a>
    </div>
    {/if}
    {/volist}
    {else/}
    <div class="mui-card" style="text-align: center;height: 150px;">
       暂无信息！
    </div>
    {/if}
</div>
<input type="hidden" value="1" id="page"/>
<div id="moreBtn" class="mui-btn" style="text-align: center;width: 100%;{if condition='$count gt 2'}display: block{else/}display: none{/if}">加载更多</div>
{include file="common/foot"}
<script>
    function formQuery(){
        var keywords=$('#keywords').val();
        location.href="<?=url('index/house')?>?keywords="+keywords;
    }
</script>
<script>
    $('#moreBtn').click(function () {
        var keywords=$('#keywords').val();
        var page=parseInt($('#page').val());
        var  pages=page+1;
        $('#page').val(pages);
        $.ajax({
            'type':"post",
            'url':"<?=url('index/housemore')?>",
            'data':{'page':pages,'keywords':keywords},
            'success':function (result) {
                var data=result.data;
                console.log(data);
                if(data.length<=0){
                    $('#moreBtn').html('到底了哦！');
                }else{
                    var html="";
                    for (var i=0;i<data.length;i++) {
                        if(data[i].h_isable == 2){
                            html +='<div class="mui-card">' +
                                '        <a>' +
                                '            <div class="mui-card-header mui-card-media" style="height:58vw;background-image:url(__WEB__/img/decorating.png)"></div>' +
                                '            <div class="mui-card-content">' +
                                '                <div class="mui-card-content-inner">' +
                                '                    <p style="color: #333;">'+data[i].h_building+' '+data[i].h_area+'㎡</p>' +
                                '                    <p style="color: #333;">'+data[i].h_address+'</p>' +
                                '                </div>\n' +
                                '            </div>\n' +
                                '        </a>\n' +
                                '    </div>';
                        }else{
                            html += '<div class="mui-card">' +
                                '        <a href="<?=url('index/details')?>?h_id='+data[i].h_id+'">' +
                            '            <div class="mui-card-header mui-card-media" style="height:58vw;background-image:url('+data[i].h_house_img+')"></div>' +
                            '            <div class="mui-card-content">' +
                            '                <div class="mui-card-content-inner">' +
                            '                    <p style="color: #333;">'+data[i].h_name+'  '+data[i].h_area+'㎡&nbsp; '+data[i].h_rent+'元';
                            if(data[i].h_rent_type == 1){
                                html +='/月'
                            }else{
                                html += '/日'
                            }
                            html +='</p>' +
                                '                    <p style="color: #333;">'+data[i].h_address+'-'+data[i].h_building+'-'+data[i].h_subway+'-'+data[i].h_nearbus+'</p>' +
                                '                </div>' +
                                '            </div>' +
                                '        </a>' +
                                '    </div>';
                        }
                    }
                    $('#getMore').append(html);
                }
            },
            'error':function (error) {
                console.log(error);
            }
        })
    })
</script>
