{include file="common/header"}
<header class="mui-bar mui-bar-nav">
    <a href="<?=url('index/index')?>" class="mui-icon-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">新闻资讯</h1>
    <a class="mui-icon mui-icon-bars mui-icon-right-nav mui-pull-right" href="<?=url('index/nav')?>"></a>
</header>
<div class="mui-content" style="background-color:#fff">
    <ul class="mui-table-view mui-grid-view" id="getMore" >
        {volist name="news" id="vo"}
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="<?=url('index/detail')?>?art_id={$vo.art_id}">
                <img style="height: 130px;" class="mui-media-object" src="{$vo.art_img}">
                <div class="mui-media-body">{$vo.art_title}</div>
            </a>
        </li>
        {/volist}
    </ul>
</div>
<input type="hidden" value="1" id="page"/>
<div id="moreBtn" class="mui-btn mui-btn-warning mui-btn-block mui-btn-outlined" style="text-align: center;width: 100%;{if condition='$count gt 2'}display: block{else/}display: none{/if}">加载更多</div>
{include file="common/footer"}
<script>
    $('#moreBtn').click(function () {
        var page=parseInt($('#page').val());
        var  pages=page+1;
        $('#page').val(pages);
        $.ajax({
            'type':"post",
            'url':"<?=url('index/newsMore')?>",
            'data':{'page':pages},
            'success':function (result) {
                var data=result.data;
                console.log(data);
                console.log(data.length);
                if(data.length<=0){
                    $('#moreBtn').html('到底了哦！');
                }else{
                    var html="";
                    for (var i=0;i<data.length;i++) {
                        html+='<li class="mui-table-view-cell mui-media mui-col-xs-6">\n' +
                            '             <a href="<?=url('index/detail')?>?art_id='+data[i].art_id+'">'+
                        '                <img style="height: 130px;" class="mui-media-object" src="'+data[i].art_img+'" />'+
                        '                <div class="mui-media-body">'+data[i].art_title+'</div>\n' +
                        '            </a>\n' +
                        '        </li>';
                    }
                    $('#getMore').append(html);
                }
            },
            'error':function (error) {
                console.log(error);
            }
        })
    })
</script>