{include file="common/header"}
<header class="mui-bar mui-bar-nav">
    <a href="<?=url('index/index')?>" class="mui-icon-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">租住保证</h1>
    <a class="mui-icon mui-icon-bars mui-icon-right-nav mui-pull-right" href="<?=url('index/nav')?>"></a>
</header>
<div class="mui-content" style="background:#fff;">
    <div class="mui-card-header mui-card-media" style="height:48vw;background-image:url(__WEB__/img/service.jpg)"></div>
    <div class="mui-card-content" style="background:#fff;">
        <div class="mui-card-content-inner">
            <h5 style="line-height: 27px;text-indent: 2em">小屋服务全程保障您的权益，租客认证、一客一锁解决您在租房过程中各种担忧，专人保洁、专业维修免除您在居住期间的后顾之忧。通过投诉全公示、400热线等确保您的权益得到落实。</h5>
            <p style="color: #21cfbb">ONE</p>
            <hr/>
            <h5 style="line-height: 27px;">租客认证 凡有意向入住小屋的租客，需要提供相关证明，通过我们的租客认证。新客首次入住可享受三天免费退房。</h5>

            <p style="color: #21cfbb">TWO</p>
            <hr/>
            <h5 style="line-height: 27px;">一客一锁 每间房间都设置不同的密码锁，电子控制。</h5>

            <p style="color: #21cfbb">THREE</p>
            <hr/>
            <h5 style="line-height: 27px;">专人保洁 为了给小屋客户创造品质的租住生活，每周2次公共区域保洁。</h5>

            <p style="color: #21cfbb">FOUR</p>
            <hr/>
            <h5 style="line-height: 27px;">专业维修 小屋针对房屋主体，电路，灯具等提供24小时内响应，48小时上门，三个工作日完成的维修服务。</h5>
        </div>
    </div>
</div>
{include file="common/footer"}