<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>装修进度</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__WAP__/css/mui.min.css">
    <link rel="stylesheet" href="__WAP__/css/icons-extra.css">
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">装修进度</h1>
</header>
<div class="mui-content">
    <div class="mui-card">
        <ul class="mui-table-view">
            {if condition="$step neq null"}
            {volist name="step" id="log"}
            <li class="mui-table-view-cell mui-collapse">
                <a>{$log.hds_end_statuss}
                    <span class="mui-pull-right">共<span class="mui-badge mui-badge-success">{$log.decorate_count}</span>条</span>
                    <span class="mui-pull-right" style="margin-right: 6%">
                        {$log.hds_change_time}
                    </span>
                </a>
                <div class="mui-collapse-content">
                    <ul class="mui-table-view" style="margin-top: -8px;">
                        {if condition="$log.decorate_log neq null"}
                        {volist name="log.decorate_log" id="vo"}
                        <li class="mui-table-view-cell">
                            <a href="<?=url('index/details')?>?hdl_id={$vo.hdl_id}">
                                <span class="mui-icon mui-icon-paperplane"></span>
                                {$vo.hdl_addtime|date="Y年m月d日 H时i分",###}
                                {$vo.hdl_title}
                                <span class="mui-navigate-right"></span>
                            </a>
                        </li>
                        {/volist}
                        {else/}
                        <li class="mui-table-view-cell">
                            <a>
                                <span class="mui-icon mui-icon-paperplane"></span>
                                暂无记录！
                            </a>
                        </li>
                        {/if}
                    </ul>
                </div>
            </li>
            {/volist}
            {else/}
            <li class="mui-table-view-cell">
                <a style="text-align: center;">暂无装修记录！</a>
            </li>
            {/if}
        </ul>
    </div>
</div>
<script src="__PUBLIC__/static/jquery-1.10.2.min.js"></script>
<script src="__WAP__/js/mui.min.js"></script>
<script>
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
</script>
</body>

</html>