{include file="index/header" /}
<form class="layui-form" id="specForm" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">规格名称</label>
        <div class="layui-input-block">
            <input type="text" name="gs_title" style="width: 320px;" lay-verify="title" autocomplete="off" placeholder="请输入规格名称" class="layui-input">
            <input type="hidden" name="gs_goods_id" value="{$g_id}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item one-pan">
        <label class="layui-form-label"><span style="color: red;">*</span>封面图片</label>
        <div class="layui-upload-drag" id="uploadLogo" style="display:inline-block;">
            <image id="logoPre">
                <input type="hidden" lay-verify="imgReg"  name="gs_img" id="art_img" value=""/>
            </image>
            <div id="display">
                <i class="layui-icon"></i>
                <p>请点击此处上传封面图片</p>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>商品原价</label>
        <div class="layui-input-inline">
            <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" name="gs_price" lay-verify="required" placeholder="请输入商品原价" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">单位：元。</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>折扣价</label>
        <div class="layui-input-inline">
            <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" name="gs_discont" lay-verify="required" placeholder="请输入折扣价" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">用户实付金额，单位：元。</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>库存数量</label>
        <div class="layui-input-inline">
            <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" name="gs_stock" lay-verify="required" placeholder="请输入库存数量" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">用户实付金额，单位：元。</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <span class="layui-btn" id="transmit">添加</span>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'jquery','upload','layer'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,layer = layui.layer
            ,$ = layui.jquery;
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
        });
        //图片上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("article/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#art_img').val('');
                console.log(res);
                layer.close(loading);
                $('#art_img').val(res.path);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__"+res.path);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
        var index = parent.layer.getFrameIndex(window.name);


        
        //添加一个商品规格
        $('#transmit').on('click', function(){
            var g_id =  $("input[name ='gs_goods_id']").val();
            $.ajax({
                type: 'POST',
                url: "<?=url('shop/addSpec')?>?g_id="+g_id,
                data:$('#specForm').serialize(),
                dataType:  'json',
                success: function(data){
                    if(data.code == 1){
                        layer.close(layer.index);
                        window.parent.location.reload();
                    }
                }
            });
        });
    });
</script>
{include file="index/footer" /}