{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>商城管理</a>
        <a href="<?=url('shop/sort')?>">商品分类</a>
        <a><cite>修改分类</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('shop/sort')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('shop/edit')?>?nav_id={$nav.ss_id}&nav_fid={$nav_fid}" method="post">
            {if condition="$nav_fid eq 0"}
            {else/}
            <div class="layui-form-item">
                <label class="layui-form-label">父级导航</label>
                <div class="layui-input-block">
                    <input type="text" name="{$nav_fid}" value="{$f_name}" readonly class="layui-input">
                </div>
            </div>
            {/if}
            <div class="layui-form-item">
                <label class="layui-form-label">导航名称</label>
                <div class="layui-input-block">
                    <input type="text" name="ss_title" value="{$nav.ss_title}" lay-verify="required|ss_title" placeholder="请输入导航名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <select name="ss_order" lay-filter="aihao">
                        <option value="">请选择排列顺序</option>
                        <option value="1" {if condition="$nav.ss_order eq 1"}selected{/if}>1</option>
                        <option value="2" {if condition="$nav.ss_order eq 2"}selected{/if}>2</option>
                        <option value="3" {if condition="$nav.ss_order eq 3"}selected{/if}>3</option>
                        <option value="4" {if condition="$nav.ss_order eq 4"}selected{/if}>4</option>
                        <option value="5" {if condition="$nav.ss_order eq 5"}selected{/if}>5</option>
                        <option value="6" {if condition="$nav.ss_order eq 6"}selected{/if}>6</option>
                        <option value="7" {if condition="$nav.ss_order eq 7"}selected{/if}>7</option>
                        <option value="8" {if condition="$nav.ss_order eq 8"}selected{/if}>8</option>
                        <option value="9" {if condition="$nav.ss_order eq 9"}selected{/if}>9</option>
                        <option value="10" {if condition="$nav.ss_order eq 10"}selected{/if}>10</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">数字越大越靠前!</div>
            </div>
            {if condition="$nav_fid eq 0"}
            {else/}
            <div class="layui-form-item">
                <label class="layui-form-label">导航图片</label>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="uploadNav">上传图片</button>
                    <input type="hidden" name="ss_icon" id="ss_icon" value="{$nav.ss_icon}"/>
                    <div class="layui-upload-list" style="margin-left: 100px;">
                        <img class="layui-upload-img" src="__PUBLIC__{$nav.ss_icon}" style="height: 100px;width:100px" id="navPre">
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux" style="margin-left: 100px; color:red !important;">备注：图片规格100*100px</div>
            </div>
            {/if}
            <div class="layui-form-item" pane>
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-block">
                    <input type="radio" name="ss_del_flg" value="1" title="是" {if condition="$nav.ss_del_flg eq 1"}checked{/if} >
                    <input type="radio" name="ss_del_flg" value="2" title="否" {if condition="$nav.ss_del_flg eq 2"}checked{/if} >
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">修改</button>
                    <a class="layui-btn layui-btn-primary" href="sort.html">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form
            ,upload = layui.upload;
        form.on('radio', function(data){
            console.log(data);
        });
        //导航图片上传
        upload.render({
            elem: '#uploadNav'
            ,url: '{:url("nav/upload")}'
            ,size:120 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#navPre').removeAttr('src');
                $('#ss_icon').val('');
                console.log(res);
                layer.close(loading);
                $('#ss_icon').val(res.path);
                $('#navPre').attr('src',"__PUBLIC__"+res.path);
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
    });
</script>
{include file="index/footer" /}