{include file="index/header" /}
<style>
    .logoPre{
        width: 216px;
        height: 150px;
    }
    .casePre{
        display:none;
    }
</style>
<form class="layui-form" id="specForm" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">规格名称</label>
        <div class="layui-input-block">
            <input type="text" name="gs_title" style="width: 320px;" lay-verify="title" autocomplete="off" placeholder="请输入规格名称" class="layui-input" value="{$list.gs_title}">
            <input type="hidden" id="gs_id" value="{$list.gs_id}">
        </div>
    </div>
    <div class="layui-form-item one-pan">
        <label class="layui-form-label"><span style="color: red;">*</span>封面图片</label>
        <div {if condition="$list.gs_img eq null"}class="layui-upload-drag"{/if} id="uploadLogo" style="display:inline-block;">
        <image id="logoPre"
               {if condition="$list.gs_img eq null"}
               {else/}
        src="{$list.gs_img}"
        class="logoPre"
        {/if}
        >
        <input type="hidden" lay-verify="imgRegCaseType"  name="gs_img" id="gs_img" value="{$list.gs_img}"/>
        </image>
        <div id="logoPre1" {if condition="$list.gs_img eq null"} {else/} class="casePre" {/if}>
        <i class="layui-icon"></i>
        <p>请点击此处上传封面图片</p>
    </div>
    </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>商品原价</label>
        <div class="layui-input-inline">
            <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" name="gs_price" lay-verify="required" placeholder="请输入商品原价" value="{$list.gs_price}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">单位：元。</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>折扣价</label>
        <div class="layui-input-inline">
            <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" name="gs_discont" lay-verify="required" placeholder="请输入折扣价" value="{$list.gs_discont}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">用户实付金额，单位：元。</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>库存数量</label>
        <div class="layui-input-inline">
            <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" name="gs_stock" lay-verify="required" placeholder="请输入库存数量" value="{$list.gs_stock}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">用户实付金额，单位：元。</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <span class="layui-btn" id="transmit">修改</span>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'jquery','upload','layer'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,layer = layui.layer
            ,$ = layui.jquery;
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
        });
        //图片上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("article/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#gs_img').val('');
                console.log(res);
                layer.close(loading);
                $('#gs_img').val(res.path);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__"+res.path);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
        var index = parent.layer.getFrameIndex(window.name);



        //给父页面传值
        $('#transmit').on('click', function(){
            var gs_id =  $("#gs_id").val();
            $.ajax({
                type: 'POST',
                url: "<?=url('shop/eidtSpecss')?>?gs_id="+gs_id,
                data:$('#specForm').serialize(),
                dataType:  'json',
                success: function(data){
                    if(data.code == 1){
                        layer.close(layer.index);
                        window.parent.location.reload();
                    }
                }
            });
        });
    });
</script>
{include file="index/footer" /}