{include file="index/header" /}
<style>
    #pages .layui-laypage-prev {
        padding: 0 12px;
    }
    #pages .layui-laypage-next{
        padding: 0 12px;
    }
    #pages .layui-laypage a{
        border:none;
    }
    #pages .layui-laypage-curr{
        padding: 0 11px;
        height: 24px;
        line-height: 24px;
    }
    #pages .layui-laypage input{
        padding: 0 11px;
        height: 26px;
        line-height: 26px;
    }
    #pages .layui-laypage input, .layui-laypage button{
        padding: 0 11px;
        height: 26px;
        line-height: 26px;
    }
    #pages .layui-laypage select{
        height: 18px;
    }
    em{
        font-style: normal;
    }
    .layui-table td{
        padding: 0px 15px;
        height: 40px !important;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>商城管理</a>
        <a><cite>商品管理</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('shop/addProduct')?>" class="layui-btn layui-btn-primary layui-btn-sm" ><i class="layui-icon"></i>添加商品</a>
        </div>
    </div>
    <hr/>
    <section class="panel panel-padding layui-form" >
        <table lay-skin="line" class="layui-table" lay-filter="parse-table-demo" style="padding: 10px;text-align: left;border: 1px;solid-color: #28282c">
<!--            <colgroup>-->
<!--                <col width="120">-->
<!--                <col width="200">-->
<!--                <col width="200">-->
<!--                <col width="260">-->
<!--                <col width="260">-->
<!--                <col width="160">-->
<!--                <col width="160">-->
<!--            </colgroup>-->
            <thead>
            <tr>
                <th></th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>商品图片</th>
                <th>分类</th>
                <th>销量</th>
                <th>状态</th>
                <th>操作时间</th>
                <th>操作人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {if condition="$list eq null"}
            <tr><td colspan="8" style="text-align: center">暂无内容</td></tr>
            {/if}
            {volist name='list' id='na'}
                <tr>
                    <td>
                    </td>
                    <td>{$na.goods_id}</td>
                    <td>{$na.goods_name}</td>
                    <td><img style="width: 30px;height: 30px;" src="{$na.goods_img}"/></td>
                    <td>{$na.goods_sort}</td>
                    <td>{$na.goods_sales_num}</td>
                    <td>{$na.goods_del_flg}</td>
                    <td>{$na.goods_change_date|date='Y-m-d H:i:s',###}</td>
                    <td>{$na.goods_admin}</td>
                    <td >
                        <button class="layui-btn layui-btn-xs" onclick="onLine({$na.goods_id})"><i class="layui-icon">&#xe61f;</i>多规格</button>
                        <button class="layui-btn layui-btn-xs" onclick="onLine({$na.goods_id})"><i class="layui-icon">&#xe619;</i>上架</button>
                        <button class="layui-btn layui-btn-xs" onclick="offLine({$na.goods_id})"><i class="layui-icon">&#xe61a;</i>下架</button>
                        <button class="layui-btn layui-btn-xs" onclick="editPro({$na.goods_id})"><i class="layui-icon">&#xe642;</i>编辑</button>
                        <button class="layui-btn layui-btn-xs" onclick="delGoods({$na.goods_id})"><i class="layui-icon">&#xe640;</i>删除</button>
                    </td>
                </tr>
            {/volist}
            </tbody>
        </table>
    </section>
    <script>
        layui.use(['form','layer'], function(){
            var form = layui.form,
                layer = layui.layer; //独立版的layer无需执行这一句
            //监听指定开关
        });
    </script>
    <script type="text/javascript">
        //修改商品，上架的商品不能直接修改，要先下架，然后才能修改
        function editPro(g_id){
            window.location.href='<?=url("shop/editProduct")?>?g_id='+ g_id;
        }
        //删除商品，上架的商品不能直接删除，要先下架，然后才能删除，删除是软删除，之是前端不显示，不代表数据库数据的实际删除
        function delGoods(g_id){
            window.location.href='<?=url("shop/editProduct")?>?g_id='+ g_id;
        }
        //上架商品，添加或者修改完成的完善的商品，执行上架操作，上架后产品可以在前端显示给用户。
        function onLine(g_id){
            window.location.href='<?=url("shop/editProduct")?>?g_id='+ g_id;
        }
        //下架商品，在线上的商品，需要修改或者删除的，先要下架了，才能进行修改和删除的操作。下架后已在前端的显示的商品，前端讲不会再显示
        function offLine(g_id){
            window.location.href='<?=url("shop/editProduct")?>?g_id='+ g_id;
        }
    </script>
    {include file="index/footer" /}